/* Michael Kester
CSS Style Sheet - Assignment 1*/

body {
		font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	}

	#assignment {
		background-color: green;
		position: fixed;
		left: 0;
		top: 0;
		bottom: 0;
		width: 10em;
	}

	#assignment {
		display: flex;
		flex-direction: column;
	}

	#assignment > div {
		flex-grow: 1;
	}

	#info {
		background-color: red;
		position: fixed;
		top: 0;
		left: 10em;
		right: 0;
		height: 7em;
	}

	#info {
		display: flex;
	}

	#info > div {
		text-align: center;
		flex-grow: 1;
	}

	#main {
		background-color: blue;
		position: fixed;
		top: 7em;
		left: 10em;
		right: 0;
		bottom: 2.5em;
		overflow: auto;
	}

	#main {
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		align-items: center;
	}

	#copyright {
		background-color: yellow;
		position: fixed;
		bottom: 0;
		left: 10em;
		right: 0;
		height: 2.5em;
	}

	#copyright {
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		align-items: center;
	}
